<ion-view title="Question" hide-nav-bar="true" ng-controller="questionControl" cache-view="false"> 
    <ion-header-bar style="display:block; padding:0">
        <timer id="countdown-timer" countdown="countdown" finish-callback="timeUp()" ng-model="timer" interval="1000">

            <div class="item item-avatar">
                <img>
                <h2>Time left</h2>
                <p>{{seconds}} second{{secondsS}}</p>
            </div>

            <div class="timer-bar" style="width: {{seconds/60 * 100}}%; display:block">
                <div class="item item-positive"></div>
            </div>

        </timer>
    </ion-header-bar>

    <ion-content padding="true" scroll="true" class="question-screen">

        <div class="list card">
            <div class="item item-text-wrap">
                <img src="{{parseImage(questionRef.question)}}" class="full-image">
                <p align="justify">
                    {{parseText(questionRef.question)}}
                </p>
            </div>
        </div>

        <div class="list card">
            <ion-radio ng-repeat="item in question.choices"
                       ng-value="item.$id"
                       ng-model="question.choices.selected">
                {{ item.$value }}
            </ion-radio>
        </div>

        <button ng-click="submitQuestion()" class="button button-block button-positive">Submit</button>

        <!--<button ng-click="newQuestion()" class="button button-block button-positive">NEW</button>-->

    </ion-content>
</ion-view>
