<ion-view title="Choice" hide-nav-bar="true" ng-controller="questionControl" cache-view="false">
    <ion-header-bar style="display:block; padding:0">
        <timer id="countdown-timer" countdown="countdown" ng-model="timer" interval="1000">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Post-questionnaire</h2>
                <p>Appropriate response to situation</p>
            </div>
            <div class="timer-bar">
                <div class="item item-positive">
                </div>
            </div>
        </timer>
    </ion-header-bar>

    <ion-content padding="true" scroll="true" class="bg bg-poly">

        <div class="list item-card card">
            <div class="item item-text-wrap">
                <p>
                    How would you like to respond to this page?
                </p>
            </div>
        </div>

        <div class="list item-card card item-text-wrap">
            <ion-radio ng-repeat="item in question.choices" ng-value="item.value" ng-model="$parent.question.selectedChoice">
                {{ item.text }}
            </ion-radio>
            <ion-radio ng-value="'X'" ng-model="question.selectedChoice">
                I'm not sure
            </ion-radio>
        </div>

        <button ng-click="submitChoice()" class="button button-block button-positive">Submit</button>

    </ion-content>
</ion-view>