<ion-view view-title="Daily Questions" hide-back-button="true" class="bg bg-poly">
    <ion-content padding="true">
        <ion-list>
            <div style="margin-bottom:1em" class="item-card item item-icon-left" ng-click="toQuestion(true)" ng-repeat="dailyQuestion in range(user.dailyQuestions) track by $index">
                <i class="icon ion-ios-arrow-right"></i>
                <h2>Daily Question 0{{$index + 1}}</h2>
                <p>Tap to answer question</p>
            </div>
            <div class="row" ng-hide="user.dailyQuestions !== 0">
                <div class="col" style="text-align:center; color:#aaa">
                    <i class="icon ion-ios-checkmark-outline" style="font-size:500%"></i>
                    <br>You have completed all of today's daily questions.
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>