body .overflow-scroll {
    overflow: auto;
    overflow-x: hidden;
}

.timer-bar {
    height: 0.32em;
    padding:0;
    display:block;
}

.timer-bar .item{
    border-radius:0 !important;
    padding:0;
    height:100%;
    margin:0;
    display:block;
}
.bg {
    background-size:cover;
    background-position:center;
}
.bg-login {
    background-image:url("../img/login.jpg");
}
.bg-poly {
    background-image:url("../img/question.jpg");
}
.bg-dark {
    background-color: #37474F!important;
}
.item.wrap, .item-content.wrap {
    white-space: normal;
}
.text-small {
    font-size: 80%;
}
.translucent {
    opacity: 0.8
}
.pull-right {
    float:right;
}
.borderless {
    border: none;
}